doctype 5
html(ng-app="ewcrUserApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-cloak)
        div.container
            div(ng-controller='EmployeeMenuController', class='topContent')
                div.well.well-large
                    span.pull-right Zalogowany jago: #{userName}
                    h1 EWCR - panel użytkownika
                    a(href="#", ng-click="logout()", class='pull-right') Wyloguj się
                div.navbar
                    div.navbar-inner
                        ul.nav
                            li
                                a(href="#", ng-click='workCard()') Karty Pracy
                            li
                                a(href="#", ng-click='projectList()') Lista Projektów
            div.row
                div.customWell.offset9.span3(ng-controller='CurrentTaskController')
                    p.infoMessage(ng-show="message()") {{message()}}
                    p(ng-show='isInProgress()') {{clock}}
                    button.btn(ng-click='stopTracking()', ng-disabled='!isInProgress()') Zatrzymaj
                ng-view
        script(src='/js/lib/jquery-1.10.1.js')
        script(src='/js/lib/angular.min.js')
        script(src='/js/lib/moment.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/app.js')
        script(src='/js/controllers/EmployeeMenuController.js')
        script(src='/js/controllers/UserProjectListController.js')
        script(src='/js/controllers/WorkCardController.js')
        script(src='/js/controllers/CurrentTaskController.js')
        script(src='/js/filters/projectStatus.js')
        script(src='/js/filters/employeeKind.js')
        script(src='/js/services/ProjectService.js')
        script(src='/js/services/DatesService.js')
        script(src='/js/services/WorkCardService.js')


