doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-cloak)
        div.container
            h1(class="mainHeader well well-large") EWCR - elektronicza rejestracja kart pracy
            div.row
                div#errorMsg.offset4.span4.alert.alert-error #{errorMsg}
            div.row
                form.offset3.span4.form-horizontal(action='/', method='POST')
                    div.control-group
                        label.control-label(for="login") Login
                        div.controls
                            input#login(type='text', name='login', placeholder='Login...', autofocus='')
                    div.control-group
                        label.control-label(for="password") Hasło
                        div.controls
                            input(type='password', name="password", placeholder='Hasło')
                    div.pull-right(style="margin-right:-30px;")
                        button(type='submit', name='loginKind', value='user', class='btn', style="margin-right:10px;")
                           | Panel użytkownika
                        button(type='submit', name='loginKind', value='hr', class='btn') Panel księgowego

        script(src='/js/lib/jquery-1.10.1.js')
        script(src='/js/index.js')
