doctype 5
html(ng-app="ewcrHrApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-cloak)
        div.container
            div(ng-controller='HrMenuController', class='topContent')
                div.well.well-large
                    span.pull-right Zalogowany jago: #{userName}
                    h1 EWCR - panel księgowego
                    a(href="#", ng-click="logout()", class='pull-right') Wyloguj się
                div.navbar
                    div.navbar-inner
                        ul.nav
                            li
                                a(href="#", ng-click='employeeList()') Lista Pracowników
                            li
                                a(href="#", ng-click='projectList()') Lista Projektów
                            li
                                a(href="#", ng-click='workCardsEdit()') Edycja kart pracy

            ng-view
        script(src='/js/lib/jquery-1.10.1.js')
        script(src='/js/lib/angular.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/app.js')
        script(src='/js/controllers/HrMenuController.js')
        script(src='/js/controllers/EmployeeListController.js')
        script(src='/js/controllers/AddEmployeeController.js')
        script(src='/js/controllers/EditEmployeeController.js')
        script(src='/js/controllers/ProjectListController.js')
        script(src='/js/controllers/AddProjectController.js')
        script(src='/js/controllers/EditProjectController.js')
        script(src='/js/controllers/WorkCardEditController.js')
        script(src='/js/services/EmployeeService.js')
        script(src='/js/services/WorkCardService.js')
        script(src='/js/services/ProjectService.js')
        script(src='/js/services/DatesService.js')
        script(src='/js/filters/projectStatus.js')
        script(src='/js/filters/employeeKind.js')

