doctype 5
html(ng-app="ewcrHrApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content

        script(src='/js/lib/jquery-1.10.1.js')
        script(src='/js/lib/angular.min.js')
        script(src='/js/app.js')
