<div ng-controller="EditEmployeeController">
    <div class="row">
        <div id="errorMsg" ng-show="{{message}}" class="offset4 span4 alert alert-error">{{message}}</div>
        <h3>Edycja pracownika</h3>

        <div class="span4 offset3">
            <form name="employeeForm" class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label for="login" class="control-label" autofocus="">Login</label>

                        <div class="controls">
                            <input id="login" type="text" required
                                   placeholder="Login" ng-model="employee.login"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password" class="control-label">Hasło</label>

                        <div class="controls">
                            <input id="password" type="password"
                                   placeholder="Hasło" ng-model="employee.password"/>
                        </div>
                    </div>
                </fieldset>
                <div style="margin-top: 15px;">
                    <fieldset>
                        <div class="control-group">
                            <label for="name" class="control-label">Symbol</label>

                            <div class="controls">
                                <input id="name" type="text" ng-model="employee.symbol" placeholder="Symbol"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="firstName" class="control-label">Imię</label>

                            <div class="controls">
                                <input id="firstName" placeholder="Imię" type="text" ng-model="employee.firstName"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="lastName" class="control-label">Nazwisko</label>

                            <div class="controls">
                                <input id="lastName" placeholder="Nazwisko" type="text" ng-model="employee.lastName"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="control-group">
                            <label for="lastName" class="control-label"> Pracownik działu kadr</label>

                            <div class="controls">
                                <input type="checkbox" ng-model="employee.isHr">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-click="save(employee)">Zapisz</button>
                <button type="button" class="btn" ng-click="cancel()">Anuluj</button>
            </div>
        </div>
    </div>
</div>