<div ng-controller="EditProjectController">
    <div class="row">
        <div id="errorMsg" ng-show="{{message}}" class="offset4 span4 alert alert-error">{{message}}</div>
        <h3>Edycja projektu</h3>

        <div class="span4 offset3">
            <form name="projectForm" class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label for="number" class="control-label" autofocus="">Numer</label>

                        <div class="controls">
                            <input id="number" type="text" required
                                   placeholder="Numer" ng-model="project.number"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="pwg" class="control-label">PWG</label>

                        <div class="controls">
                            <input id="pwg" type="text" ng-model="project.pwg" placeholder="PWG"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="name" class="control-label">Nazwa</label>

                        <div class="controls">
                            <input id="name" placeholder="Nazwa" type="text" ng-model="project.name"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="description" class="control-label">Opis</label>

                        <div class="controls">
                            <textarea id="description" rows="3" ng-model="project.description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="startDate" class="control-label">Data rozpoczęcia</label>

                        <div class="controls">
                            <input id="startDate" type="date" ng-model="project.startDate"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="endDate" class="control-label">Data zakończenia</label>

                        <div class="controls">
                            <input id="endDate" type="date" ng-model="project.endDate"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="status" class="control-label">Status</label>

                        <div class="controls">
                            <select id="status" ng-model="project.status">
                                <option value="opened">W toku</option>
                                <option value="closed">Zamknięty</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-click="save(project)">Zapisz</button>
                <button type="button" class="btn" ng-click="cancel()">Anuluj</button>
            </div>
        </div>
    </div>
</div>