<div ng-controller="EmployeeListController">
    <h3>
        Lista pracowników
    </h3>

    <div class="row">
        <button class="btn offset2" ng-click="addEmplyee()">Dodaj</button>
    </div>

    <div class="row">
        <div class="offset2 span8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Stanowisko</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.symbol}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <button class="btn" ng-click="edit(employee)">Edytuj</button>
                        <button class="btn" ng-click="remove(employee)">Usuń</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>