<div ng-controller="ProjectListController">
    <h3>
        Lista projektów
    </h3>

    <div class="row">
        <button class="btn offset2" ng-click="addProject()">Dodaj</button>
    </div>

    <div class="row">
        <div class="offset2 span8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Numer</th>
                    <th>PWG</th>
                    <th>Nazwa</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.number}}</td>
                    <td>{{project.pwg}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.startDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{project.endDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{project.status | projectStatus}}</td>
                    <td>
                        <button class="btn" ng-click="edit(project)">Edytuj</button>
                        <button class="btn" ng-click="remove(project)">Usuń</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>