<div class="offset1 span8 leftContent" ng-controller="UserProjectListController">
    <h3>
        Lista projektów
    </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numer</th>
            <th>PWG</th>
            <th>Nazwa</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.number}}</td>
            <td>{{project.pwg}}</td>
            <td>{{project.name}}</td>
            <td>{{project.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{project.endDate | date:'yyyy-MM-dd'}}</td>
            <td>{{project.status | projectStatus}}</td>
            <td>
                <button class="btn" ng-click="startTracking(project)" ng-disabled="startTrackingDisabled">
                    Rozpocznij
                </button>
            </td>
        </tbody>
    </table>
</div>