<div class="offset1 span8 leftContent" ng-controller="WorkCardController">
    <h3>
        Karta Pracy
    </h3>

    <div class="row">
        <form class="form-inline">
            <label>Rok</label><select ng-model="year" ng-options="y for y in years">
        </select>
            <label style="margin-left: 10px;">Miesiąc</label>
            <select ng-model="month" ng-options="m.value as m.name for m in months">
            </select>
            <button class="btn" ng-click="getWorkCard(year,month)">Pokaż</button>
        </form>
    </div>
    <div class="row">
        <div class="offset6 span2">
            <span>{{user.symbol}}</span>
            <strong>{{user.lastName}}</strong>
            <strong>{{user.firstName}}</strong>
            <span>{{user.kind | employeeKind}}</span>
        </div>
    </div>
    <div class="row" ng-show="showRaport()">
        <table class="workCard table table-bordered table-condensed">
            <tr>
                <td></td>
                <td ng-repeat="n in daysInMonth">{{n}}</td>
            </tr>
            <tr>
                <td class="small-font first-column">
                    <span>Zmiana &#x25B8</span>
                    <span>Projekt &#x25BE</span>
                </td>
                <td ng-repeat="n in shifts">{{n}}</td>
            </tr>
            <tr ng-repeat="item in workCardItems">
                <td>{{item.project.name}}</td>
                <td ng-repeat="hours in item.days">{{hours}}</td>
            </tr>
        </table>
    </div>
</div>