<div ng-controller="WorkCardEditController">
    <h3>
        Edycja kart pracy
    </h3>

    <div class="row">
        <form class="form-inline offset1 span10">
            <label>Pracownik</label>
            <select style="margin-right: 10px;" ng-model="e" ng-options="e as e for e in employees">

            </select>
            <label>Rok</label>
            <select ng-model="year" ng-options="y for y in years"></select>
            <label style="margin-left: 10px;">Miesiąc</label>
            <select ng-model="month" ng-options="m.value as m.name for m in months"> </select>
            <button class="btn" ng-click="getWorkCard()" ng-disabled="getWorkCardDisabled()">Pokaż
            </button>
        </form>
    </div>
    <div class="row">
        <div class="offset4 span5">
            <strong>Pracownik: </strong>
            <span>{{e.symbol}}</span>
            <strong>{{e.lastName}}</strong>
            <strong>{{e.firstName}}</strong>
            <span>{{e.kind | employeeKind}}</span>
        </div>
        <div class="offset9 span2">
            <label class="checkbox">
                <input type="checkbox" ng-model="showSummary"> Pokaż podsumowanie
            </label>
        </div>
    </div>
    <div class="row" ng-show="showSummary">
        <div class="offset2 span8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Projekt</th>
                    <th>Spędzony czas [h]</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in workCard.raport">
                    <td><span>{{item.project.number}}</span>
                        <span>{{item.project.pwg}}</span>
                        <span>{{item.project.name}}</span>
                    </td>
                    <td>{{item.hours}}</td>
                </tr>
                <tr>
                    <td><strong>Razem</strong></td>
                    <td><strong>{{workCard.totalHours}}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset2 span8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa projektu</th>
                    <th>Czas rozpoczęcia</th>
                    <th>Czas zakończenia</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in workCard.workCardItems">
                    <td>{{item.project.name}}</td>
                    <td><input type="text" ng-model="item.startTime"/></td>
                    <td><input type="text" ng-model="item.endTime"/></td>

                    <td>
                        <button class="btn" ng-click="saveItem(item)">Zapisz</button>
                        <button class="btn" ng-click="removeItem(item)">Usuń</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>