h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
a {
  color: #00B7CC;
}
.topContent {
  margin-top: 14px;
}
.customWell {
  min-height: 60px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 4px;
}
.infoMessage {
  text-align: center;
}
.leftContent {
  margin-top: -80px;
}
.workCard td {
  min-width: 12px;
  vertical-align: middle;
  text-align: center;
}
.workCard .first-column {
  min-width: 20px;
}
.workCard .first-column span {
  white-space: nowrap;
}
.workCard .small-font {
  font-size: 0.8em;
}
